<% if @statuses.empty? or rows.empty? %>
  <p><i><%=l(:label_no_data)%></i></p>
<% else %>
  <table class="list issue-report">
    <thead>
      <tr>
        <th></th>
        <th colspan="4"><%=l(:label_open_issues_plural)%></th>
        <!-- <th><%#=l(:label_closed_issues_plural)%></th> -->
        <th><%=l(:label_total)%></th>
      </tr>
      <tr>
        <th></th>
        <th><%="0-7 days"%></th>
        <th><%="7-14 days"%></th>
        <th><%="14-28 days"%></th>
        <th><%=">28 days"%></th>
        <!-- <th></th> -->
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for row in rows %>
        <tr>
          <td class="name"><%= link_to row.name, aggregate_path(@project, field_name, row, :subproject_id => nil) %></td>
          <td><%= aggregate_link data, { field_name => row.id, "closed" => 0, "1-week" => true}, aggregate_path(@project, field_name, row, :status_id => "o", :subproject_id => nil, duration: "1-week", collapsed: true) %></td>
          <td><%= aggregate_link data, { field_name => row.id, "closed" => 0, "2-week" => true }, aggregate_path(@project, field_name, row, :status_id => "o", :subproject_id => nil, duration: "2-week", collapsed: true) %></td>
          <td><%= aggregate_link data, { field_name => row.id, "closed" => 0, "3-week" => true }, aggregate_path(@project, field_name, row, :status_id => "o", :subproject_id => nil, duration: "3-week", collapsed: true) %></td>
          <td><%= aggregate_link data, { field_name => row.id, "closed" => 0, "4-plus-week" => true }, aggregate_path(@project, field_name, row, :status_id => "o", :subproject_id => nil, duration: "4-plus-week", collapsed: true) %></td>
          <!-- <td><%#= aggregate_link data, { field_name => row.id, "closed" => 1}, aggregate_path(@project, field_name, row, :status_id => "c", :subproject_id => nil) %></td> -->
          <!-- <td><%#= aggregate_link data, { field_name => row.id }, aggregate_path(@project, field_name, row, :status_id => "*", :subproject_id => nil) %></td> -->
          <td><%= aggregate_link data, { field_name => row.id }, aggregate_path(@project, field_name, row, :status_id => "o", :subproject_id => nil, collapsed: true) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
